@font-face
{
	font-family: "Batch";
	src: url("/templates/basic/fonts/batch-icons-webfont.eot");
	src: url("/templates/basic/fonts/batch-icons-webfont.woff") format("woff"), url("/templates/basic/fonts/batch-icons-webfont.otf") format("opentype"), url("/templates/basic/fonts/batch-icons-webfont.svg#batch_iconsregular") format("svg");
}

body
{
	background: #e6e6e6;
}

ul.monthes
{
	text-align: center;
	margin: 0;
	margin-top: 15px;
	padding-left: 0px;
}

ul.monthes > li
{
	display: inline-block;
	list-style: none;
	padding-left: 10px;
	padding-right: 10px;
}

ul.monthes > li > a
{
	font-size: 1em;
	color: #000000;
	text-decoration: none;
}

ul.monthes > li > a.selected
{
	font-size: 1.2em;
}

div.account
{
	margin: 10px 15px;
	padding: 20px;
	background: #ffffff;
	-moz-box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
	-webkit-box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
	box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
}

div.account > h2
{
	position: relative;
	margin-top: 0px;
	maring-bottom: 20px;
	padding-right: 120px;
}

div.account > h2 > a
{
	color: #000000;
	text-decoration: none;
}

div.account > h2 > a.back:before
{
	font-family: "Batch";
	content: "\f14a\0020";
}

div.account > h2 span.amount
{
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
}

div.account > canvas.chart
{
	display: block;
	margin: auto;
	padding-bottom: 15px;
	width: 100%;
}

div.account > table
{
	width: 100%;
}

tr.transaction td.label:before
{
	font-family: "Batch";
	content: "\f020\0020";
}

tr.transaction.transaction-.transaction-positive td.label:before,
tr.transaction-transfer.transaction-positive td.label:before
{
	content: "\f02a\0020";
}

tr.transaction.transaction-.transaction-negative td.label:before,
tr.transaction-transfer.transaction-negative td.label:before
{
	content: "\f02b\0020";
}

tr.transaction-debit td.label:before
{
	content: "\f02d\0020";
}
           
tr.transaction-withdrawal td.label:before
{
	content: "\f0d7\0020";
}

tr.transaction-credit-card td.label:before
{
	content: "\f104\0020";
}

tr.transaction-check td.label:before
{
	content: "\f136\0020";
}

tr.transaction-contribution td.label:before
{
	content: "\f02d\0020";
}

/* Limits */

div.account > span.limit
{
	display: block;
	text-align: center;
}

div.account > span.limit.withdrawal:before
{
	font-family: "Batch";
	content: "\f0d7\0020";
}

div.account > span.limit.credit-card:before
{
	font-family: "Batch";
	content: "\f104\0020";
}
